<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="最新" icon-off="ion-ios-pulse" icon-on="ion-ios-pulse-strong" href="#/tab/new">
    <ion-nav-view name="tab-new"></ion-nav-view>
  </ion-tab>

  <ion-tab title="搜尋" icon-off="ion-ios-location-outline" icon-on="ion-ios-location" href="#/tab/search">
    <ion-nav-view name="tab-search"></ion-nav-view>
  </ion-tab>

  <ion-tab title="標記" icon-off="ion-ios-bookmarks-outline" icon-on="ion-ios-bookmarks" href="#/tab/mark">
    <ion-nav-view name="tab-mark"></ion-nav-view>
  </ion-tab>

  <ion-tab title="選項" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/option">
    <ion-nav-view name="tab-option"></ion-nav-view>
  </ion-tab>


</ion-tabs>
